<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="redux-store.html">

<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">

<link rel="import" href="features/drs-f-routing.html">

<dom-module id="gemplan-app">
  <template>
    <style>
      app-toolbar {
        background-color: #4285f4;
        color: #fff;
      }
    </style>

    <app-header-layout>
      <app-header fixed condenses>
        <app-toolbar>
          <div main-title>[[applicationName]]</div>
        </app-toolbar>
      </app-header>
      <div id="content">
        <drs-f-routing></drs-f-routing>
      </div>
    </app-header-layout>
    <paper-toast id="toast"></paper-toast>
  </template>

  <script>
    Polymer({
      is: 'gemplan-app',
      behaviors: [ReduxBehavior],
      created: function () {
        var state = this.getState();
      },
      actions: {
        setToast: function setToast(error) {
          return {
            type: 'SET_TOAST',
            error: error
          };
        }
      },
      properties: {
        applicationName: {
          type: String,
          statePath: 'applicationName'
        },
        error: {
          type: String,
          statePath: 'error',
          observer: '_errorChanged'
        }
      },
      listeners: {
        'iron-overlay-closed': '_toastFinished'
      },
      _errorChanged: function _errorChanged(error) {
        if (!error) return;
        this.$.toast.show({ text: this.error, duration: 3000 });
      },
      _toastFinished: function _toastFinished() {
        this.dispatch('setToast', '');
      }
    });
  </script>
</dom-module>
