<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../redux-store.html">

<link rel="import" href="../../../bower_components/f-jwt-decode/f-jwt-decode.html">

<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">


<dom-module id="drs-f-login-register">
  <template>
    <style include="iron-flex iron-flex-alignment">
      /*:host {
        display: block;
      }*/

      paper-card {
        width: 100%;
        /*margin-top: 64px;*/
      }
    </style>
    <paper-card elevation="1" animated-shadow="false">
      <div class="card-content">
        <h2>Inloggen</h2>
        <iron-a11y-keys target="[[form]]" keys="enter" on-keys-pressed="_formLogin"></iron-a11y-keys>

        <form is="iron-form" id="loginForm" method="post" action="/api/login" content-type="application/json">
          <paper-input id="email" name="email" label="Email adres"></paper-input>
          <paper-input id="password" name="password" label="Wachtwoord" type="password"></paper-input>
        </form>
      </div>
      <div class="card-actions">
        <paper-button raised on-tap="_formLogin">Inloggen</paper-button>
      </div>
    </paper-card>
    <f-jwt-decode id="jwtDecode"></f-jwt-decode>
  </template>
  <script>
    Polymer({
      is: 'drs-f-login-register',
      behaviors: [ReduxBehavior],
      actions: {
        loginUser: function loginUser(jwt, user) {
          return {
            type: 'LOGIN_USER',
            jwt: jwt,
            user: user
          };
        },
        setToast: function setToast(error) {
          return {
            type: 'SET_TOAST',
            error: error
          };
        },
        navigate: function navigate(path) {
          return {
            type: 'NAVIGATE',
            path: path
          }
        }
      },
      listeners: {
        'iron-form-response': '_ironFormResponse',
        'iron-form-error': '_ironFormError'
      },
      properties: {
        selected: {
          type: Number,
          value: 0
        },
        jwt: String,
        form: {
          type: Object,
          value: function getForm() {
            return this.$.loginForm;
          }
        }
      },
      _formLogin: function () {
        this.$.loginForm.submit();
      },
      _ironFormResponse: function _ironFormResponse(event) {
        var response = event.detail.response;
        if (response.success) {
          // decode
          this.$.jwtDecode.token = response.jwtToken;
          var jwtContent = this.$.jwtDecode.value;
          // dispatch action
          this.dispatch('navigate', '/index');
          return this.dispatch('loginUser', response.jwtToken, jwtContent);
        } else {
          this.$.password.value = '';
          this.$.password.focus();
          return this.dispatch('setToast', 'Login mislukt, probeer het opnieuw.');
        }
      },
      _ironFormError: function _ironFormError(event) {
        return this.dispatch('setToast', 'Er is een fout opgetreden...');
      }
    });
  </script>
</dom-module>
