<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../redux-store.html">


<dom-module id="drs-f-dashboard">
  <template>
    <style>
       :host {
        display: block;
      }
    </style>
    <h1>Hello {{fullname}}</h1>
  </template>
  <script>
    Polymer({
      behaviors: [ReduxBehavior],
      is: 'drs-f-dashboard',
      properties: {
        fullname: {
          type: Object,
          statePath: 'user.fullname'
        }
      }
    });
  </script>
</dom-module>
