<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../redux-store.html">

<dom-module id="drs-f-routing">
  <template>
    <style>
       :host {
        display: block;
      }
    </style>
    <div id="routerOutlet">
      <div id="noRoute">No route available</div>
    </div>
  </template>
  <script>
    Polymer({
      behaviors: [ReduxBehavior],
      is: 'drs-f-routing',
      actions: {
        setToast: function setToast(error) {
          return {
            type: 'SET_TOAST',
            error: error
          };
        }
      },
      properties: {
        currentRoute: {
          type: String,
          statePath: 'routing.currentRoute',
          observer: '_routeChanged'
        },
        routes: {
          type: Array,
          statePath: 'routing.routes'
        }
      },
      _routeChanged: function _routeChanged(newRoute, previousRoute) {
        console.log('_routeChanged()', newRoute, previousRoute);
        var resolvedPageUrl = this.resolveUrl(newRoute.component + '.html');
        if (!resolvedPageUrl) {
          this.$.noRoute.hidden = false;
          return;
        } else {
          this.$.noRoute.hidden = true;
        }

        this.importHref(resolvedPageUrl, null, this._toast404, true);
        if (previousRoute)
          document.getElementsByTagName(previousRoute.component)[0].hidden = true;

        var el = document.createElement(newRoute.component);
        Polymer.dom(this.$.routerOutlet).appendChild(el);

      },
      _toast404: function _toast404() {
        this.dispatch('setToast', 'An error occurred (404)')
      }
    });
  </script>
</dom-module>
